.filter-switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.filter-switch input[type="radio"] {
  display: none;
}

/* Estilos para radio buttons con ID que comienza con 'position-' */
.filter-switch input[type="radio"][name^="position"]:checked + .filter-switch-label {
  color: #ffffff;
  border: 1px solid #007bff;
  background-color: #007bff; /* Color de fondo para position- */
}

/* Estilos para radio buttons con ID que comienza con 'category-' */
.filter-switch input[type="radio"][name^="category"]:checked + .filter-switch-label {
  color: #007bff;
  border: 1px solid #F3F4F6;
  background-color: #F3F4F6; /* Color de fondo para category- */
}

.filter-switch-label {
  color: #1a1919;
  padding: 4px 12px;
  border: 1px solid #1a1919;
  border-radius: 4px;
  cursor: pointer; 
  margin-top: 7px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #64748b;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Personalizar la barra de desplazamiento en Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
  resize: none; 
}

.two-lines {
  width: 200px; /* Ajusta el ancho según sea necesario */
  line-height: 1.5; /* Ajusta el espacio entre líneas según sea necesario */
}

:root {
  /* Modo light */
  --bg-color: #ffffff;
  --text-color: #333333;
  --border-color: #cccccc;
}

.dark-mode {
  /* Modo dark */
  --bg-color: #333333;
  --text-color: #ffffff;
  --border-color: #666666;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Estilos para los elementos específicos, como botones, contenedores, etc. */
.element {
  border-color: var(--border-color);
}

.page-container {
  position: relative;
}